# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform variables
terraform.tfvars

# SSH private keys
*.pem
*.key

# Kubernetes secret templates
kubernetes/*secret.yaml
kubernetes/*secret.yml

# Environment files
.env
*.env

Cred.txtdeploy.sh
deploy.sh
